body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width:0pxl;
}

*{
  font-family: 'Poppins', sans-serif;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}
button:hover{
  background-color: black;
  border: none;
  outline: none;
}
button:active{
  transform: scale(0.9);
  border: none;
  outline: none;
}